body {
    padding: 25px;
    background-color: #f8f8ff;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: #15202b;
    color: white;
  }
  

header { 
    height: 50px;
    width: 100%;
}
.--Navigations-- {
   margin-left: 30%;
   margin-top: 0%;
   text-decoration: none;
}
nav a {
    margin: 15px;
    text-decoration: none;
    font-family: monospace;
    font-size: x-large;
}
hr {
    width: 1000px;
    
}
.home {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}
/* --Profile--*/
.Profile {
    display: flex;
}
/* --Profile-detail-- */
.--Profile-detail-- {
    margin-right: 20%;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    line-height: 28px;
}

/*--social-media--*/
.Social-Media {
    display: flex;
    margin-left: 15%;
}
.Social-Media img:hover {
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;   
}
.Social-Media a {
    margin: 12px;}
    /*--skills*/
.--Skills-container-- {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
   }
.skills-1 {
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.skills-1 div {
    margin: 25px;
   
  }
  .skills-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .skills-2 div {
    margin: 32px;
  }
  /*!--Projects--*/
  .project-title {
    text-align: center;
  }
  .projects {
    font-family: monospace;
    font-size: x-large;
    margin-top: 10%;
margin-left: 10%;
margin-right: 10%;}
.--projects-container-1-- {
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
}
.project-1 {
  border: solid 1px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
  margin-inline: 35px;
}
.project-1 a {
  text-decoration: none;
  color: #504E4E;
}
.--projects-container-2-- { margin-top: 5%;
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
  }
  /* -- Testimonial -- */
.Testimonial-container {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 30px;
}

.test-2 {
    margin-top: 8%;
}
/* contact */

.contact-form {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 30px;
    color: #504E4E;
    border: outset;
    background-color: #F8F8F8;
    padding-bottom: 3%;
}